<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="icon" type="image/png" href="@(AC.Asset("favicon.png"))">

    <link rel="me" href="@("https://mastodon.social/@stryxus")">

    <link rel="stylesheet" href="@css_path">

    <HeadOutlet />
</head>
<body>
    <noscript>
        This website requires Javascript. If you dont have Javascript enabled, you must find out how to enable it.
        For no reason should Javascript be disabled in the modern day.
    </noscript>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <script type="text/javascript" src="_framework/blazor.web.js" suppress-error="BL9992"></script>
    <script type="text/javascript" src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script type="text/javascript" src="@js_path" defer></script>
</body>
</html>

@inject IJSRuntime IJS

@inject RuntimeState RS
@inject AssetCaches AC

@code {

    private string? js_path { get; set; }
    private string? css_path { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        FileInfo js = new(new List<string>(Directory.GetFiles(Globals.Content_Path)).Where(x => x.Contains($"{Path.DirectorySeparatorChar}main.") && x.EndsWith(".js")).First());
        FileInfo css = new(new List<string>(Directory.GetFiles(Globals.Content_Path)).Where(x => x.Contains($"{Path.DirectorySeparatorChar}main.") && x.EndsWith(".css")).First());
        js_path = js.FullName.Substring(js.FullName.LastIndexOf("\\wwwroot") + 8, js.FullName.Length - (js.FullName.LastIndexOf("\\wwwroot") + 8));
        css_path = css.FullName.Substring(css.FullName.LastIndexOf("\\wwwroot") + 8, css.FullName.Length - (css.FullName.LastIndexOf("\\wwwroot") + 8))[1..];
        js_path = js_path[(js_path.LastIndexOf("/") + 1)..];
        css_path = css_path[(css_path.LastIndexOf("/") + 1)..];

        RS.IJS = IJS;
        await AC.Init(true);
        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await AC.GetAVIFSupport(RS);
        await base.OnAfterRenderAsync(firstRender);
    }
}