<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="icon" type="image/png" href="@(AC.Asset("favicon.png"))">
    <link rel="me" href="@("https://mastodon.social/@stryxus")">

    <link rel="stylesheet" href="0.css">

    <!-- Primary Meta Tags -->
    <title>Stryxus' Personal Website</title>
    <meta name="title" content="Stryxus' Personal Website">
    <meta name="description" content="My personal website where I keep all my creations, guides, tools and more!">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stryxus.xyz/">
    <meta property="og:title" content="Stryxus' Personal Website">
    <meta property="og:description" content="My personal website where I keep all my creations, guides, tools and more!">
    <meta property="og:image" content="http://www.stryxus.xyz/og.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://stryxus.xyz/">
    <meta property="twitter:title" content="Stryxus' Personal Website">
    <meta property="twitter:description" content="My personal website where I keep all my creations, guides, tools and more!">
    <meta property="twitter:image" content="http://www.stryxus.xyz/og.png">

    <HeadOutlet />
</head>
<body>
    <noscript>
        This website requires Javascript. If you dont have Javascript enabled, you must find out how to enable it.
        For no reason should Javascript be disabled in the modern day.
    </noscript>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <script type="text/javascript" src="_framework/blazor.web.js" suppress-error="BL9992"></script>
    <script type="text/javascript" src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script defer src="0.js"></script>
</body>
</html>

@inject IJSRuntime IJS

@inject RuntimeState RS
@inject AssetCaches AC

@code {

    protected override async Task OnParametersSetAsync()
    {
        await AC.Init(true);
        RS.IJS = IJS;
        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await AC.GetAVIFSupport(RS);
        await base.OnAfterRenderAsync(firstRender);
    }
}