<div class="row">
    <div class="col category">
        <div class="row">
            <div class="col">
                <h2>@Title</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            @if (Items is not null)
            {
                @foreach (KeyValuePair<string, ValueTuple<List<string>, Uri>> item in Items)
                {
                    <a rel="noreferrer" target="_blank" href="@item.Value.Item2" class="col-auto item">
                        <div class="row">
                            @foreach (string imagePath in @item.Value.Item1)
                            {
                                <div class="col">
                                    <img alt="@item.Key" src="@imagePath" />
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>@item.Key</h3>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
        <div class="row">
            <div class="col">
                <p>
                    @Description
                </p>
                @Content
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public Dictionary<string, ValueTuple<List<string>, Uri>>? Items { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

}
